extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account
block bannerMixin
block content
    .containerCenter
        h2.account-title Change Username
        h4 Change your username by using the form below. After renaming, you must log out and log back in with the changed username in the FAF Client to access chat.
        br
        p You can change your name every 3 months, and your previous username will be reserved for 6 months.
        br
        p FAF Rules apply to usernames as well; violations may result in a ban. For more details, please visit
        a(href='https://faforever.com/rules') the rules.
        br
        .row
            .col-md-offset-3.col-md-6
                +flash-messages(flash)

        .row
            .col-md-offset-3.col-md-6
                form(
                    method='post',
                    action='/account/changeUsername',
                    data-toggle='validator'
                )
                    +username
                    .form-actions
                        button.btn.btn-default.btn-lg.btn-outro.btn-danger(
                            type='submit'
                        ) Change
